<div id="main">
				<h2>About Page</h2>
        <p style="text-align: justify">
         closures in java script and typescrip TypeScript compiler to implements the classes in generated JavaScript at run-time.
          closures in java script and typescrip TypeScript compiler to implements the classes in generated JavaScript at run-time.
           closures in java script and typescrip TypeScript compiler to implements the classes in generated JavaScript at run-time.
            closures in java script and typescrip TypeScript compiler to implements the classes in generated JavaScript at run-time.
        </p>
</div>
