<div id="main">
				<h2>Home Page</h2>
        <p style="text-align: justify">
          The class selector selects HTML elements with a specific class attribute. It is used with a period character . (full stop symbol) followed by the class name.
          The class selector selects HTML elements with a specific class attribute. It is used with a period character . (full stop symbol) followed by the class name.
          The class selector selects HTML elements with a specific class attribute. It is used with a period character . (full stop symbol) followed by the class name.The class selector selects HTML elements with a specific class attribute. It is used with a period character . (full stop symbol) followed by the class name.
          The class selector selects HTML elements with a specific class attribute. It is used with a period character . (full stop symbol) followed by the class name.
        </p>
</div>
